.App {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listItem {
  text-align: left;
}

.delBtn {
  color: #dd421c;
  background-color: #eee;
  border: 1px solid #dd421c;
  border-radius: 6px;
  padding: 5px 10px;
}

.editBtn {
  margin-left: 15px;
  color: #1e90ff;
  background-color: #eee;
  border: 1px solid #1e90ff;
  border-radius: 6px;
  padding: 5px 10px;
}
